::backdrop {
  opacity: .75;
  background-color: #fff;
}

html, body {
  color: #333;
  background-color: #ccc;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: Noto Sons Mono, monospace;
  overflow: hidden;
}

body {
  flex-direction: column;
  display: flex;
}

canvas {
  touch-action: none;
  z-index: 0;
  display: block;
  position: relative;
}

code {
  background-color: #f4f4f4;
}

details {
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  padding: 1em;
}

details + details {
  border-top: none;
}

details > details {
  border: none;
}

details > summary {
  cursor: pointer;
}

dialog {
  background-color: #fff;
  border: 1px solid #999;
  width: 50%;
  padding: 0;
  box-shadow: 0 0 .75rem .5rem #00000040;
}

dialog .flex-left {
  flex: 2;
}

dialog details h3, dialog details h4, dialog details p {
  margin-left: 0;
  margin-right: 0;
  padding-left: 0;
  padding-right: 0;
}

dialog h1 {
  margin: 0;
  padding: 0;
}

dialog h3 {
  padding: .25rem 1rem;
}

dialog h4 {
  padding: 0 1rem;
}

dialog header {
  color: #fff;
  background-color: #333;
  align-items: center;
  padding: 1rem;
  display: flex;
}

dialog header button {
  color: #fff;
  cursor: pointer;
  background: none;
  border: none;
}

dialog p {
  margin: 1em;
}

dialog button {
  padding: .5em 1em;
}

dialog footer {
  background-color: #eee;
  border-top: 1px solid #ddd;
  align-items: center;
  padding: .5em 1em;
  display: flex;
}

dialog footer ul {
  align-items: center;
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
}

dialog footer ul li {
  border-left: 1px solid #ddd;
  margin-left: .5em;
  padding-left: .5em;
}

dialog footer ul li:first-child {
  border: none;
  margin: 0;
  padding: 0;
}

body > footer, body > header {
  -webkit-user-select: none;
  user-select: none;
  z-index: 1;
  background-color: #fff;
  border-radius: .5rem;
  width: fit-content;
  min-width: fit-content;
  max-width: calc(100% - 2em);
  margin: 0 auto;
  position: absolute;
  overflow: hidden;
  box-shadow: 0 0 .5rem .25rem #00000059;
}

body > header {
  top: 1em;
  left: 0;
  right: 0;
}

body > footer {
  flex-direction: column;
  display: none;
  bottom: 1em;
  left: 0;
  right: 0;
}

body > footer.active {
  display: flex;
}

main {
  flex: auto;
}

#actions {
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
}

#doorbell.doorbell-inline #doorbell-container {
  background-color: #eee;
  border: 1px solid #ccc;
  width: auto;
  margin: 0;
  padding: 1em;
}

#doorbell form legend {
  display: none;
}

#error, #puzzle {
  cursor: pointer;
}

#error {
  color: #666;
  justify-content: center;
  align-items: center;
  height: 100%;
  font-size: 6em;
  display: none;
}

#footer-message {
  border-bottom: 1px solid #ddd;
}

#header-message {
  border-top: 1px solid #ddd;
}

#header-navigation {
  flex-wrap: wrap;
  justify-content: center;
  display: flex;
}

#logo {
  width: 75%;
  max-width: 320px;
  margin: 2em 0 1em;
}

#modifiers {
  justify-content: center;
  display: flex;
}

#puzzle-id {
  appearance: none;
  cursor: pointer;
  border: none;
  border-left: 1px solid #ddd;
  padding: 1em 2em 1em 1em;
  font-size: 1em;
  font-weight: bold;
}

#puzzle-id:hover {
  background-color: #eee;
}

#puzzle-id:focus-visible {
  color: #fff;
  fill: #fff;
  background-color: #333;
  outline: none;
}

#puzzle-id:focus-visible + svg {
  fill: #fff;
}

#selector {
  align-items: stretch;
  display: flex;
  position: relative;
}

#selector svg {
  position: absolute;
  top: calc(50% - 5px);
  right: .75rem;
}

#solution {
  cursor: default;
  align-items: center;
  line-height: 24px;
  list-style: none;
  display: flex;
}

#solution .icon {
  margin-left: .5em;
}

#symbols {
  display: none;
}

#version {
  color: #999;
}

.beam {
  color: #fff;
  width: 1em;
  height: 1em;
  display: inline-block;
}

.beam::selection {
  color: #fff;
  background-color: #000;
}

.button {
  color: #333;
  font-family: inherit;
  font-size: inherit;
  background-color: #eee;
  border: 1px solid #ccc;
  margin: 0;
  padding: .5em 1em;
  text-decoration: none;
}

.button:hover {
  cursor: pointer;
  background-color: #ddd;
  border-color: #aaa;
}

.buttons {
  grid-gap: 1em;
  margin: 1em 0;
}

.flex-center, .flex-left, .flex-right {
  flex: 1;
  align-items: stretch;
  display: flex;
}

.flex-center {
  justify-content: center;
}

.flex-left {
  justify-content: flex-start;
}

.flex-right {
  justify-content: flex-end;
}

.grab #puzzle {
  cursor: grabbing;
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24;
  -webkit-user-select: none;
  user-select: none;
  vertical-align: middle;
  width: 24px;
  min-height: 24px;
  overflow: hidden;
}

.material-symbols-outlined.fill {
  font-variation-settings: "FILL" 1, "wght" 400, "GRAD" 0, "opsz" 24;
  -webkit-user-select: none;
  user-select: none;
}

.menu {
  align-items: stretch;
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
}

.menu li {
  cursor: pointer;
  border-left: 1px solid #ddd;
  align-items: center;
  padding: 1em;
  display: flex;
}

.menu.non-interactive li, .menu li.non-interactive {
  cursor: default;
}

.menu li:first-child {
  border: none;
}

.menu:not(.non-interactive) li:not(.disabled, .non-interactive, .selected):hover {
  background-color: #eee;
}

.menu li.disabled {
  color: #ccc;
  cursor: default;
}

.menu li.selected {
  box-sizing: border-box;
  color: #fff;
  background-color: #333;
}

.message {
  background-color: #eee;
  flex: 100%;
  justify-content: center;
  align-items: center;
  min-height: 24px;
  padding: 1em;
  line-height: 24px;
  display: flex;
}

.message:empty {
  display: none;
}

.modifiers {
  -webkit-user-select: none;
  user-select: none;
}

.puzzle-error .flex-left, .puzzle-error .flex-right {
  flex: 0;
}

.puzzle-error:not(.puzzle-loaded) #puzzle, .puzzle-error .modifiers {
  display: none;
}

.puzzle-error:not(.puzzle-loaded) #error {
  display: flex;
}

.puzzle-solved #puzzle {
  cursor: default;
}

.puzzle-solved footer {
  display: none;
}

.text {
  padding: 0 .25em;
}

@media (width <= 600px) {
  body > header, body > footer {
    width: 100%;
    max-width: 100%;
  }

  body > footer {
    border-radius: 0;
    bottom: 0;
  }

  body > header {
    border-radius: 0;
    top: 0;
  }

  body > header .flex-left, body > header .flex-right {
    order: 0;
  }

  body > header .flex-center {
    border-top: 1px solid #ddd;
    flex: 100%;
    order: 1;
  }

  #actions {
    border: 0;
  }
}

@media (width <= 1024px) {
  dialog {
    width: 100%;
  }
}
/*# sourceMappingURL=index.4d663569.css.map */
