::backdrop {
  background-color: white;
  opacity: 0.75;
}

html,
body {
  background-color: #ccc;
  color: #333;
  font-family: 'Noto Sons Mono', monospace;
  height: 100%;
  margin: 0;
  overflow: hidden;
  padding: 0;
  width: 100%;
}

body {
  display: flex;
  flex-direction: row;

  &.gutter-horizontal {
    flex-direction: column;
  }
}

button {
  font-family: 'Noto Sons Mono', monospace;
}

code {
  background-color: #f4f4f4;
}

details {
  padding: 1em;
}

details > main {
  border-bottom: 1px solid #eee;
  margin-left: 1em;
  padding-bottom: 1em;
}

details > summary {
  cursor: pointer;
  font-weight: bold;
}

#title-quit {
  display: none;
}

.electron #title-quit {
  display: block;
}

/* ------------------------------------------------------------------------------------------------------------------ */
/* Dialog
/* ------------------------------------------------------------------------------------------------------------------ */

dialog {
  background-color: #ccc;
  border: none;
  display: none;
  flex-direction: column;
  height: 100vh;
  left: 0;
  margin: 0;
  max-height: 100vh;
  max-width: 100vw;
  outline: none;
  overflow: auto;
  padding: 0;
  position: fixed;
  top: 0;
  width: 100vw;
}

dialog[open] {
  display: flex;
  z-index: 9999;
}

dialog .flex-left {
  flex: 2;
}

dialog details h3,
dialog details h4,
dialog details p {
  margin-left: 0;
  margin-right: 0;
  padding-left: 0;
  padding-right: 0;
}

dialog h1 {
  margin: 0;
  padding: 0;
}

dialog h3,
dialog h4 {
  padding: 0;
}

dialog header {
  align-items: center;
  display: flex;
  padding: 1em;
  text-transform: lowercase;
  width: 100%;
}

dialog header,
dialog > main {
  box-sizing: border-box;
  margin: 0 auto;
  min-width: 320px;
  max-width: 960px;
}

dialog header button {
  background: #fff;
  border: #666 1px solid;
  border-radius: 0.25em;
  color: #000;
  cursor: pointer;
  outline: none;
  padding: 0.25em 1em;
}

dialog header button:hover {
  background-color: #eee;
}

dialog p {
  margin: 1em;
}

dialog button {
  padding: 0.5em 1em;
}

dialog footer {
  align-items: center;
  display: flex;
  justify-content: center;
  padding: 1em;
}

dialog footer ul {
  align-items: center;
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

dialog footer ul li {
  margin-left: 0.5em;
  padding-left: 0.5em;
}

dialog footer ul li:first-child {
  margin: 0;
  padding: 0;
}

dialog > main {
  background-color: white;
  border-radius: 0.25em;
  overflow: auto;
  padding: 1em;
}

dialog ul {
  margin: 0 0 0 1em;
  padding: 0 0 0 1em;
}

#dialog-title {
  align-items: center;
  box-sizing: border-box;
  justify-content: center;
  padding: 2em;
}

#dialog-title ul {
  font-size: 1.5em;
  list-style: none;
  margin: 2em 0 0 0;
  padding: 0;
  text-align: center;
}

#dialog-title ul li {
  background-color: #fff;
  border: #666 1px solid;
  border-radius: 0.25em;
  color: #000;
  cursor: pointer;
  margin-bottom: 0.5em;
  padding: 0.25em 1em;
}

#dialog-title ul li:hover,
#dialog-title ul li a:hover {
  background-color: #eee;
}

#dialog-title ul li:last-child {
  padding-bottom: 0;
}

#dialog-title ul li a {
  color: #666;
  outline: none;
  text-decoration: none;
}

/* ------------------------------------------------------------------------------------------------------------------ */
/* Debug
/* ------------------------------------------------------------------------------------------------------------------ */

#debug {
  background-color: #bbb;
  border: #666 1px solid;
  border-radius: 0.5rem;
  bottom: 1em;
  cursor: default;
  display: none;
  left: 1em;
  padding: 1em;
  position: absolute;
  z-index: 1;
}

.debug #debug {
  display: block;
}

.debug #debug:empty {
  display: none;
}

/* ------------------------------------------------------------------------------------------------------------------ */
/* Editor
/* ------------------------------------------------------------------------------------------------------------------ */

#editor {
  background-color: #f9f9f9;
  padding: 1em 0 1em 1em;
}

#editor div[data-schematype=array] > .je-indented-panel {
  background-color: #f9f9f9;
}

#editor div[data-schematype=array] > .je-indented-panel > div:not(:empty, :has(> .je-indented-panel)) {
  margin-bottom: 1em;
}

#editor div[data-schematype=array] > .je-indented-panel > div > .je-indented-panel {
  background-color: #f9f9f9;
  border: 0;
  margin: 0 0 1em 0;
  padding: 0;
}

#editor div[data-schemapath] > span:last-child {
  margin-left: 1em;
}

#editor div[data-schematype=object] + div[data-schematype=object] {
  margin-top: 1em;
}

#editor .je-header {
  display: flex;
  font-weight: bold;
  margin-bottom: 1em;
}

#editor .form-control label {
  margin-right: 0.5em;
}

#editor .je-indented-panel {
  background-color: #fff;
  border: 1px solid #ddd;
  border-right: none;
  margin: 1em 0 1em 1em;
  padding: 1em 0 1em 1em;
}

#editor .je-indented-panel > .je-switcher {
  margin-left: 1em;
}

#editor .je-object__controls {
  margin: 0;
}

#editor .je-switcher {
  font-weight: bold;
  margin: 0;
}

#editor .je-switcher + div > div[data-schematype=object] > .je-header {
  display: none;
}

#editor .je-textarea {
  width: calc(100% - 1em);
}

#editor .row {
  line-height: 32px;
}

#editor-configuration {
  box-sizing: border-box;
  height: 400px;
  padding: 1em;
  width: 100%;
}

#editor-menu {
  border-bottom: 1px solid #ddd;
}

#editor-wrapper {
  background-color: white;
  border-left: #666 1px solid;
  box-shadow: 0 0 0.5rem 0.25rem #ccc;
  display: none;
  user-select: none;
  z-index: 1;
  /* For iOS/Safari. */
  -webkit-user-select: none;
}

#editor-wrapper button,
#editor-wrapper input,
#editor-wrapper select {
  padding: 0.5em;
}

#editor-wrapper button + button {
  margin-left: 1em;
}

#editor-wrapper details:last-child {
  border-bottom: 0;
}

#editor-wrapper footer {
  border-top: 1px solid #ddd;
  display: flex;
  padding: 1em;
}

#editor-wrapper footer,
#editor-wrapper header {
  box-shadow: 0 0 0.5rem 0.25rem #ccc;
  z-index: 1;
}

#editor-wrapper footer {
  border-top: #666 1px solid;
  clip-path: inset(-1rem 0 0 0);
}

#editor-wrapper header {
  border-bottom: #666 1px solid;
}

#editor-wrapper main {
  overflow-y: scroll;
}

.gutter-horizontal #editor-wrapper {
  border: 0;
}

.gutter-horizontal #editor-wrapper header {
  border-top: #666 1px solid;
}

/* ------------------------------------------------------------------------------------------------------------------ */
/* Gutter
/* ------------------------------------------------------------------------------------------------------------------ */

#gutter {
  border-spacing: 2px;
  display: none;
  flex: none;
  height: 100%;
  position: relative;
  touch-action: none;
  width: 1px;
}

#gutter:after {
  content: '';
  cursor: ew-resize;
  display: block;
  height: 100%;
  left: -3px;
  position: absolute;
  width: 8px;
  z-index: 10;
}

.gutter-horizontal #gutter {
  height: 1px;
  width: 100%;
}

.gutter-horizontal #gutter:after {
  cursor: ns-resize;
  height: 8px;
  left: 0;
  top: -3px;
  width: 100%;
}

/* ------------------------------------------------------------------------------------------------------------------ */
/* Logo
/* ------------------------------------------------------------------------------------------------------------------ */

#logo {
  color: #333;
  min-width: 240px;
  max-width: 320px;
}

/* ------------------------------------------------------------------------------------------------------------------ */
/* Puzzle
/* ------------------------------------------------------------------------------------------------------------------ */

#puzzle {
  container-name: puzzle;
  container-type: inline-size;
  position: relative;
  visibility: hidden;
}

#puzzle-canvas {
  cursor: pointer;
  display: block;
  position: relative;
  touch-action: none;
  z-index: 0;
}

#puzzle-error {
  align-items: center;
  color: #666;
  cursor: default;
  display: none;
  height: 100%;
  font-size: 6em;
  justify-content: center;
  width: 100%;
}

#puzzle-footer,
#puzzle-header {
  background-color: white;
  border: #666 1px solid;
  border-radius: 0.5rem;
  box-shadow: 0 0 0.5rem 0.25rem #ccc;
  margin: 0 auto;
  max-width: calc(100% - 2em);
  min-width: fit-content;
  overflow: hidden;
  position: absolute;
  /* Prevent Chrome from trying to open search on tap in mobile. */
  user-select: none;
  width: fit-content;
  /* For iOS/Safari. */
  -webkit-user-select: none;
  z-index: 1;
}

#puzzle-footer {
  display: none;
  bottom: 1em;
  flex-flow: column wrap;
  left: 0;
  right: 0;
}

#puzzle-footer.active {
  display: flex;
}

#puzzle-footer-menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: -1px 0;
  user-select: none;
  /* For iOS/Safari. */
  -webkit-user-select: none;
}

#puzzle-footer-menu li {
  border: 1px solid #ddd;
  margin: 0 0 -1px -1px;
}

#puzzle-footer-message {
  border-bottom: 1px solid #ddd;
}

#puzzle-header {
  left: 0;
  right: 0;
  top: 1em;
}

#puzzle-header-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#puzzle-header-menu {
  border-left: 1px solid #ddd;
}

#puzzle-header-message {
  border-top: 1px solid #ddd;
}

#puzzle-id {
  appearance: none;
  border: none;
  border-left: 1px solid #ddd;
  cursor: pointer;
  display: block;
  font-size: 1em;
  font-weight: bold;
  padding: 1em 2em 1em 1em;
  text-overflow: ellipsis;
  width: 100%;
}

#puzzle-id:hover {
  background-color: #eee;
}

#puzzle-id:focus-visible {
  background-color: #333;
  color: white;
  fill: white;
  outline: none;
}

#puzzle-id:focus-visible + svg {
  fill: white;
}

#puzzle-selector {
  align-items: stretch;
  display: flex;
  position: relative;
}

#puzzle-selector svg {
  position: absolute;
  right: 0.75rem;
  top: calc(50% - 5px);
}

#puzzle-solution {
  align-items: center;
  border-left: 1px solid #ddd;
  cursor: default;
  line-height: 24px;
}

#puzzle-solution .icon {
  margin-left: 0.5em;
}

#puzzle-title {
  align-items: center;
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
  display: none;
  line-height: 24px;
  padding: 0 1em;
  user-select: text;
}

#puzzle-wrapper {
  box-sizing: border-box;
  flex: auto;
  overflow: hidden;
}

/* ------------------------------------------------------------------------------------------------------------------ */
/* Classes
/* ------------------------------------------------------------------------------------------------------------------ */

.button {
  background-color: #eee;
  border: 1px solid #ccc;
  color: #333;
  font-family: inherit;
  font-size: inherit;
  margin: 0;
  padding: 0.5em 1em;
  text-decoration: none;
}

.button:hover {
  background-color: #ddd;
  border-color: #aaa;
  cursor: pointer;
}

.buttons {
  grid-gap: 1em;
  margin: 1em 0;
}

.color {
  color: white;
  display: inline-block;
  height: 1em;
  width: 1em;
}

.color::selection {
  color: white;
  background-color: black;
}


.edit #editor-wrapper,
.edit #gutter,
.edit #puzzle-title {
  display: flex;
}

.edit #puzzle {
  visibility: visible;
}

.edit #puzzle-selector {
  display: none;
}

.flex-center,
.flex-left,
.flex-right {
  align-items: stretch;
  display: flex;
  flex: 1 auto;
}

.flex-center {
  justify-content: center;
}

.flex-left {
  justify-content: flex-start;
}

.flex-right {
  justify-content: flex-end;
}

.grab #puzzle-canvas {
  cursor: grabbing;
}

.hide {
  display: none !important;
}

/* See: https://developers.google.com/fonts/docs/material_icons */
i,
.icon {
  direction: ltr;
  display: inline-block;
  /*noinspection CssNoGenericFontName*/
  font-family: 'Material Symbols Outlined';
  font-size: 24px;
  font-style: normal;
  font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24;
  font-weight: normal;
  letter-spacing: normal;
  line-height: 1;
  min-height: 24px;
  overflow: hidden;
  text-transform: none;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;
  width: 24px;
  word-wrap: normal;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
  /* For iOS/Safari. */
  -webkit-user-select: none;
}

i.fill,
.icon.fill {
  font-variation-settings:
    'FILL' 1,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24;
}

.icon-arrow-down:before {
  content: 'arrow_downward'
}

.icon-arrow-up:before {
  content: 'arrow_upward'
}

.icon-minus:before {
  content: 'remove'
}

.icon-plus:before {
  content: 'add'
}

.icon-trash:before {
  content: 'delete'
}

.menu {
  align-items: stretch;
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.menu li {
  align-items: center;
  border-left: 1px solid #ddd;
  cursor: pointer;
  display: flex;
  padding: 1em;
}

.menu.non-interactive li,
.menu li.non-interactive {
  cursor: default;
}

.menu li:first-child {
  border: none;
}

.menu:not(.non-interactive) li:not(.disabled,.non-interactive,.selected):hover {
  background-color: #eee;
}

.menu li.disabled {
  color: #ccc;
  cursor: default;
}

.menu li.selected {
  background-color: #333;
  box-sizing: border-box;
  color: white;
}

.menu li a {
  color: black;
}

.message {
  align-items: center;
  background-color: #eee;
  display: flex;
  flex: 100%;
  justify-content: center;
  line-height: 24px;
  min-height: 24px;
  padding: 1em;
}

.message:empty {
  display: none;
}

.pane {
  box-sizing: border-box;
  display: flex;
  flex: 1;
  flex-direction: column;
  overflow: hidden;
}

.play #puzzle {
  display: block;
  visibility: visible;
}

.puzzle-error:not(.puzzle-loaded) #puzzle-canvas,
.puzzle-error #modifiers {
  display: none;
}

.puzzle-error:not(.puzzle-loaded) #puzzle-error {
  display: flex;
}

.puzzle-solved #puzzle-canvas {
  cursor: default;
}

.puzzle-solved footer {
  display: none;
}

.text {
  padding: 0 0.25em;
}

.wrapper details {
  padding: 0 1em 1em 1em;
}

.wrapper details:last-of-type {
  padding-bottom: 0;
}

/* ------------------------------------------------------------------------------------------------------------------ */
/* Media Queries
/* ------------------------------------------------------------------------------------------------------------------ */

@container puzzle (max-width: 600px) {
  #puzzle-header {
    border-radius: 0;
    max-width: 100%;
    min-height: fit-content;
    position: relative;
    top: 0;
    width: 100%;
  }

  #puzzle-header .flex-left,
  #puzzle-header .flex-right {
    border-top: 1px solid #ddd;
    order: 0;
    position: relative;
    top: -1px;
  }

  #puzzle-header .flex-center {
    border-top: 1px solid #ddd;
    flex: 100%;
    order: 1;
  }

  #puzzle-header-menu {
    border: 0;
  }
}

@media (max-width: 768px) {
  #editor-menu {
    justify-content: center;
  }

  #editor-dock {
    display: none;
  }
}
