::backdrop {
  background-color: white;
  opacity: 0.75;
}

html,
body {
  background-color: #ccc;
  color: #333;
  font-family: 'Noto Sons Mono', monospace;
  height: 100%;
  margin: 0;
  overflow: hidden;
  padding: 0;
  width: 100%;
}

body {
  display: flex;
  flex-direction: column;
}

canvas {
  display: block;
  position: relative;
  touch-action: none;
  z-index: 0;
}

code {
  background-color: #f4f4f4;
}

details {
  border-bottom: 1px solid #ddd;
  border-top: 1px solid #ddd;
  padding: 1em;
}

details + details {
  border-top: none;
}

details > details {
  border: none;
}

details > summary {
  cursor: pointer;
}

dialog {
  background-color: white;
  box-shadow: 0 0 0.75rem 0.5rem rgba(0, 0, 0, 0.25);
  border: 1px solid #999;
  padding: 0;
  width: 50%;
}

dialog .flex-left {
  flex: 2;
}

dialog details h3,
dialog details h4,
dialog details p {
  margin-left: 0;
  margin-right: 0;
  padding-left: 0;
  padding-right: 0;
}

dialog h1 {
  margin: 0;
  padding: 0;
}

dialog h3 {
  padding: 0.25rem 1rem;
}

dialog h4 {
  padding: 0 1rem;
}

dialog header {
  align-items: center;
  background-color: #333;
  color: white;
  display: flex;
  padding: 1rem;
}

dialog header button {
  border: none;
  background: none;
  color: white;
  cursor: pointer;
}

dialog p {
  margin: 1em;
}

dialog button {
  padding: 0.5em 1em;
}

dialog footer {
  align-items: center;
  background-color: #eee;
  border-top: 1px solid #ddd;
  display: flex;
  padding: 0.5em 1em;
}

dialog footer ul {
  align-items: center;
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

dialog footer ul li {
  border-left: 1px solid #ddd;
  margin-left: 0.5em;
  padding-left: 0.5em;
}

dialog footer ul li:first-child {
  border: none;
  margin: 0;
  padding: 0;
}

body > footer,
body > header {
  background-color: white;
  border-radius: 0.5rem;
  box-shadow: 0 0 0.5rem 0.25rem rgba(0, 0, 0, 0.35);
  margin: 0 auto;
  max-width: calc(100% - 2em);
  min-width: fit-content;
  overflow: hidden;
  position: absolute;
  /* Prevent Chrome from trying to open search on tap in mobile. */
  user-select: none;
  width: fit-content;
  /* For iOS/Safari. */
  -webkit-user-select: none;
  z-index: 1;
}

body > header {
  left: 0;
  right: 0;
  top: 1em;
}

body > footer {
  display: flex;
  bottom: 1em;
  flex-direction: column;
  left: 0;
  right: 0;
}

/* this is not working correctly. re-evaluate solution */
/*body > footer:has(> *:empty) {*/
/*  display: none;*/
/*  !*noinspection CssInvalidPropertyValue*!*/
/*  transition: all 0.2s allow-discrete;*/
/*}*/

main {
  flex: auto;
}

#actions {
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
}

#doorbell.doorbell-inline #doorbell-container {
  background-color: #eee;
  border: 1px solid #ccc;
  margin: 0;
  padding: 1em;
  width: auto;
}

#doorbell form legend {
  display: none;
}

#error,
#puzzle {
  cursor: pointer;
}

#error {
  align-items: center;
  color: #666;
  cursor: not-allowed;
  display: none;
  height: 100%;
  font-size: 6em;
  justify-content: center;
}

#header-top {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#logo {
  margin: 2em 0 1em 0;
  max-width: 320px;
  width: 75%;
}

#message {
  border-top: 1px solid #ddd;
}

#modifiers {
  display: flex;
  justify-content: center;
}

#modifiers-locked {
  border-right: 1px solid #ddd;
}

#puzzle-id {
  appearance: none;
  border: none;
  border-left: 1px solid #ddd;
  cursor: pointer;
  font-size: 1em;
  font-weight: bold;
  padding: 1em 2em 1em 1em;
}

#puzzle-id:hover {
  background-color: #eee;
}

#puzzle-id:focus-visible {
  background-color: #333;
  color: white;
  fill: white;
  outline: none;
}

#puzzle-id:focus-visible + svg {
  fill: white;
}

#selector {
  align-items: stretch;
  display: flex;
  position: relative;
}

#selector svg {
  position: absolute;
  right: 0.75rem;
  top: calc(50% - 5px);
}

#solution {
  align-items: center;
  cursor: default;
  display: flex;
  line-height: 24px;
  list-style: none;
}

#solution .icon {
  margin-left: 0.5em;
}

#symbols {
  display: none;
}

#tile-message {
  border-bottom: 1px solid #ddd;
}

#version {
  color: #999;
}

/** Classes */

.beam {
  color: white;
  display: inline-block;
  height: 1em;
  width: 1em;
}

.beam::selection {
  color: white;
  background-color: black;
}

.button {
  background-color: #eee;
  border: 1px solid #ccc;
  color: #333;
  font-family: inherit;
  font-size: inherit;
  margin: 0;
  padding: 0.5em 1em;
  text-decoration: none;
}

.button:hover {
  background-color: #ddd;
  border-color: #aaa;
  cursor: pointer;
}

.buttons {
  grid-gap: 1em;
  margin: 1em 0;
}

.flex-center,
.flex-left,
.flex-right {
  align-items: stretch;
  display: flex;
  flex: 1;
}

.flex-center {
  justify-content: center;
}

.flex-left {
  justify-content: flex-start;
}

.flex-right {
  justify-content: flex-end;
}

.grab #puzzle {
  cursor: grabbing;
}

/* https://developers.google.com/fonts/docs/material_icons */
.material-symbols-outlined {
  font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24;
  min-height: 24px;
  overflow: hidden;
  user-select: none;
  vertical-align: middle;
  width: 24px;
  /* For iOS/Safari. */
  -webkit-user-select: none;
}

.material-symbols-outlined.fill {
  font-variation-settings:
    'FILL' 1,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24;
  user-select: none;
  /* For iOS/Safari. */
  -webkit-user-select: none;
}

.menu {
  align-items: stretch;
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.menu li {
  align-items: center;
  border-left: 1px solid #ddd;
  cursor: pointer;
  display: flex;
  padding: 1em;
}

.menu.non-interactive li,
.menu li.non-interactive {
  cursor: default;
}

.menu li:first-child {
  border: none;
}

.menu:not(.non-interactive) li:not(.disabled,.non-interactive,.selected):hover {
  background-color: #eee;
}

.menu li.disabled {
  color: #ccc;
  cursor: default;
}

.menu li.selected {
  background-color: #333;
  box-sizing: border-box;
  color: white;
}

.message {
  align-items: center;
  background-color: #eee;
  border-top: 1px solid #ddd;
  display: flex;
  flex: 100%;
  justify-content: center;
  line-height: 24px;
  min-height: 24px;
  padding: 1em;
  /*noinspection CssInvalidPropertyValue*/
  transition: all 0.2s allow-discrete;
}

.message:empty {
  border: 0;
  display: none;
  height: 0;
  min-height: 0;
  opacity: 0;
  padding: 0;
}

.modifiers {
  user-select: none;
  /* For iOS/Safari. */
  -webkit-user-select: none;
}

.puzzle-error .flex-left,
.puzzle-error .flex-right {
  flex: 0;
}

.puzzle-error:not(.puzzle-loaded) #puzzle,
.puzzle-error .modifiers {
  display: none;
}

.puzzle-error:not(.puzzle-loaded) #error {
  display: flex;
}

.puzzle-solved #puzzle {
  cursor: not-allowed;
}

.text {
  padding: 0 0.25em;
}

@media (max-width: 600px) {
  body > header,
  body > footer {
    /*flex-wrap: wrap;*/
    max-width: 100%;
    width: 100%;
  }

  body > footer {
    border-radius: 0;
    bottom: 0;
  }

  body > header {
    border-radius: 0;
    top: 0;
  }

  body > header .flex-left,
  body > header .flex-right {
    order: 0;
  }

  body > header .flex-center {
    border-top: 1px solid #ddd;
    flex: 100%;
    order: 1;
  }

  #actions {
    border: 0;
  }
}

@media (max-width: 1024px) {
  dialog {
    width: 100%;
  }
}

/*noinspection CssInvalidAtRule*/
@starting-style {
  .message {
    height: 0;
    min-height: 0;
    opacity: 0;
    padding: 0;
  }
}
