::backdrop {
  background-color: white;
  opacity: 0.75;
}

html,
body {
  background-color: #ccc;
  color: #333;
  font-family: 'Noto Sans Mono Variable', monospace;
  height: 100%;
  margin: 0;
  overflow: hidden;
  padding: 0;
  width: 100%;
}

body {
  display: flex;
  flex-direction: row;

  &.gutter-horizontal {
    flex-direction: column;
  }
}

button {
  font-family: 'Noto Sans Mono Variable', monospace;
  line-height: 24px;

  &:not(:disabled,.disabled) {
    cursor: pointer;
  }
}

code {
  background-color: #f4f4f4;
}

details {
  padding: 1em;
}

details > main {
  border-left: 1px solid #ccc;
  padding-left: 1em;
}

details > summary {
  cursor: pointer;
  font-weight: bold;
}

i {
  font-size: 24px;
  letter-spacing: normal;
  text-transform: none;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;
  width: 24px;
  word-wrap: normal;
}

button,
input {
  border: 1px solid #aaa;
  border-radius: 0.25em;
  cursor: pointer;
  justify-self: start;
  line-height: 24px;
  padding: 0.5em;
}

button.danger {
  background-color: #dc3545;
  border-color: #dc3545;
  color: white;
}

button:disabled,
input:disabled {
  border: 1px solid #999;
}

fieldset {
  border: 1px solid #aaa;
  border-radius: 0.25em;
  margin: 0;
  padding: 1em;

  + fieldset {
    margin-top: 1em;
  }
}

fieldset legend {
  font-weight: bold;
  line-height: 0;
  margin: 0;
  padding: 0 1em;
}

#editor-new,
#title-quit {
  display: none;
}

#screen {
  box-sizing: border-box;
  display: flex;
  height: 100%;
  pointer-events: none;
  width: 100%;
}

#version {
  color: #666;
  font-size: 0.75em;
  margin-top: 1em;
}

/* ------------------------------------------------------------------------------------------------------------------ */
/* Dialog
/* ------------------------------------------------------------------------------------------------------------------ */

dialog {
  background-color: #ccc;
  border: none;
  box-sizing: border-box;
  display: none;
  flex-direction: column;
  outline: none;
  overflow: auto;
  padding: 1em;
  position: fixed;
}

dialog.fullscreen {
  height: 100vh;
  left: 0;
  margin: 0;
  max-height: 100vh;
  max-width: 100vw;
  top: 0;
  width: 100vw;
}

dialog.fullscreen::backdrop {
  display: none;
}

dialog.confirm {
  border: 1px solid #666;
  border-radius: 0.25em;
  filter: drop-shadow(0 0.25em 0.25rem #ccc);

  button {
    margin: 0 0.5em;
  }
}

dialog.slide-down-in,
dialog.slide-left-in,
dialog.slide-right-in,
dialog.slide-up-in,
dialog[open] {
  display: flex;
  z-index: 9999;
}

dialog details h3,
dialog details h4,
dialog details p {
  margin-left: 0;
  margin-right: 0;
  padding-left: 0;
  padding-right: 0;
}

dialog h1 {
  color: #333;
  filter: drop-shadow(0 0.1em 0.1em #999);
  margin: 0;
  padding: 0;
}

dialog h3,
dialog h4 {
  padding: 0;
}

dialog header {
  align-items: center;
  display: flex;
  margin-bottom: 1em;
  text-transform: lowercase;
  width: 100%;
}

dialog header,
dialog > main {
  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
  max-width: 960px;
  min-width: 320px;
}

dialog header button {
  background: #fff;
  border: 1px solid #666;
  border-radius: 0.5em;
  color: #000;
  cursor: pointer;
  outline: none;
  padding: 0.25em 1em;
}

dialog header button:hover {
  background-color: #eee;
}

dialog p {
  margin: 1em;
}

dialog button {
  padding: 0.5em 1em;
}

dialog footer {
  align-items: center;
  display: flex;
  justify-content: center;
  padding: 1em;
}

dialog footer ul {
  align-items: center;
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

dialog footer ul li {
  margin-left: 0.5em;
  padding-left: 0.5em;
}

dialog footer ul li:first-child {
  margin: 0;
  padding: 0;
}

dialog > main {
  background-color: white;
  border: 1px solid #666;
  border-radius: 0.5em;
  overflow: auto;
  padding: 1em;
  width: 100%;
}

dialog ul {
  margin: 0 0 0 1em;
  padding: 0 0 0 1em;
}

#dialog-title {
  align-items: center;
  box-sizing: border-box;
  justify-content: center;
  padding: 2em;
}

#dialog-title ul {
  font-size: 1.5em;
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

#dialog-title ul li {
  background-color: #fff;
  border: 1px solid #666;
  border-radius: 0.25em;
  color: #000;
  cursor: pointer;
  margin-top: 0.5em;
  padding: 0.25em 1em;

  &:first-child {
    margin-top: 0;
  }
}

#dialog-title ul li:hover,
#dialog-title ul li a:hover {
  background-color: #eee;
}

#dialog-title ul li a {
  color: #666;
  outline: none;
  text-decoration: none;
}

/* ------------------------------------------------------------------------------------------------------------------ */
/* Debug
/* ------------------------------------------------------------------------------------------------------------------ */

#debug {
  background-color: #bbb;
  border: 1px solid #666;
  border-radius: 0.5rem;
  bottom: 1em;
  cursor: default;
  display: none;
  left: 1em;
  padding: 1em;
  pointer-events: none;
  position: absolute;
  z-index: 1;
}

.edit #debug,
.debug #debug {
  display: block;
}

#debug:empty {
  display: none;
}

/* ------------------------------------------------------------------------------------------------------------------ */
/* Editor
/* ------------------------------------------------------------------------------------------------------------------ */

#editor {
  background-color: #f9f9f9;
  border-bottom: 1px solid #ddd;
  padding: 1em 0 1em 1em;

  &.loading #editor-loading {
    display: flex;
  }
}

#editor div[data-schematype=array] > .je-indented-panel {
  background-color: #f9f9f9;
}

#editor div[data-schematype=array] > .je-indented-panel > div:not(:empty, :has(> .je-indented-panel)) {
  margin-bottom: 1em;
}

#editor div[data-schematype=array] > .je-indented-panel > div > .je-indented-panel {
  background-color: #f9f9f9;
  border: 0;
  margin: 0 0 1em 0;
  padding: 0;
}

#editor div[data-schemapath] > span:last-child {
  margin-left: 1em;
}

#editor div[data-schematype=object] + div[data-schematype=object] {
  margin-top: 1em;
}

#editor input,
#editor select {
  background: white;
  border: 1px solid #ddd;
  border-radius: 0.5em;
  padding: 0.5em;
}

#editor .empty .je-indented-panel {
  display: none;
}

#editor .je-checkbox {
  margin: 0 10px 0 0;
}

#editor .je-header {
  display: flex;
  font-weight: bold;
  margin-bottom: 1em;
}

#editor .form-control label {
  margin-right: 0.5em;
}

#editor .je-indented-panel {
  background-color: #fff;
  border: 1px solid #ddd;
  border-right: none;
  margin: 1em 0 1em 1em;
  padding: 1em 0 1em 1em;
}

#editor .je-indented-panel .je-switcher {
  margin-left: 1em;
}

#editor .je-object__controls {
  margin: 0;
}

#editor .je-switcher {
  font-weight: bold;
  margin: 0;
}

#editor .je-switcher + div > div[data-schematype=object] > .je-header {
  display: none;
}

#editor .je-textarea {
  padding: 0.25em;
  width: calc(100% - 1em);
}

#editor .row {
  line-height: 32px;
}

#editor .row p {
  margin-left: 1em;
  line-height: normal;
}

#editor-configuration {
  box-sizing: border-box;
  height: 400px;
  padding: 1em;
  width: 100%;
}

#editor-loading {
  align-items: center;
  display: none;
  justify-content: center;
  min-height: 3em;
}

#editor-loading i {
  animation: spin 1s infinite;
  height: 24px;
  width: 24px;
}

#editor-menu {
  border-bottom: 1px solid #ddd;
  flex-wrap: wrap;
  min-width: fit-content;
}

#editor-wrapper {
  background-color: white;
  border-left: 1px solid #666;
  box-shadow: 0 0 0.5rem 0.25rem #ccc;
  display: none;
  user-select: none;
  z-index: 1;
  /* For iOS/Safari. */
  -webkit-user-select: none;
}

#editor-wrapper button,
#editor-wrapper input,
#editor-wrapper select {
  padding: 0.5em;
}

#editor-wrapper button + button {
  margin-left: 1em;
}

#editor-wrapper details:last-child {
  border-bottom: 0;
}

#editor-wrapper footer {
  border-top: 1px solid #ddd;
  display: flex;
  padding: 1em;
}

#editor-wrapper footer,
#editor-wrapper header {
  box-shadow: 0 0 0.5rem 0.25rem #ccc;
  z-index: 1;
}

#editor-wrapper footer {
  border-top: 1px solid #666;
  clip-path: inset(-1rem 0 0 0);
}

#editor-wrapper header {
  border-bottom: 1px solid #666;
}

#editor-wrapper main {
  overflow-y: scroll;
}

.gutter-horizontal #editor-wrapper {
  border: 0;
}

.gutter-horizontal #editor-wrapper header {
  border-top: 1px solid #666;
}

/* ------------------------------------------------------------------------------------------------------------------ */
/* Gutter
/* ------------------------------------------------------------------------------------------------------------------ */

#gutter {
  border-spacing: 2px;
  display: none;
  flex: none;
  height: 100%;
  pointer-events: all;
  position: relative;
  touch-action: none;
  width: 1px;
}

#gutter:after {
  content: '';
  cursor: ew-resize;
  display: block;
  height: 100%;
  left: -3px;
  position: absolute;
  width: 8px;
  z-index: 10;
}

.gutter-horizontal #gutter {
  height: 1px;
  width: 100%;
}

.gutter-horizontal #gutter:after {
  cursor: ns-resize;
  height: 8px;
  left: 0;
  top: -3px;
  width: 100%;
}

/* ------------------------------------------------------------------------------------------------------------------ */
/* Items
/* ------------------------------------------------------------------------------------------------------------------ */

#items .item {
  display: inline-block;
  height: 36px;
  vertical-align: middle;
  width: 36px;
}

/* ------------------------------------------------------------------------------------------------------------------ */
/* Logo
/* ------------------------------------------------------------------------------------------------------------------ */

#logo {
  aspect-ratio: 1 / 1;
  color: #000;
  filter: drop-shadow(0 0.25em 0.25em #666);
  min-width: 240px;
  margin-bottom: 2em;
  max-width: 480px;
}

/* ------------------------------------------------------------------------------------------------------------------ */
/* Play
/* ------------------------------------------------------------------------------------------------------------------ */

#dialog-play {
  p {
    margin: 0;
  }

  textarea {
    border: 1px solid #aaa;
    border-radius: 0.5em;
    box-sizing: border-box;
    height: 10em;
    margin: 1em 0;
    padding: 0.25em;
    width: 100%;
  }
}

#play-custom-configuration-error {
  background-color: #dc3545;
  border: 1px #dc3545 solid;
  border-radius: 0.25em;
  color: white;
  margin-bottom: 1em;
  padding: 1em;

  &:empty {
    display: none;
  }
}

#play-puzzles {
  list-style: none;
  margin: 0;
  padding: 0;
  position: relative;

  li {
    color: #999;
    line-height: 24px;
    list-style: none;
    margin: 0;
    padding: 0 0 0 calc(1em - 1px);
    position: relative;

    &:after,
    &:before {
      box-sizing: border-box;
      content: '';
      display: block;
      position: absolute;
    }

    &:before {
      border-left: 1px solid #aaa;
      height: 100%;
      left: 0;
      top: 0;
    }

    &:after {
      border-bottom: 1px solid #aaa;
      left: 0;
      top: 0.5lh;
      width: 1em;
    }

    &:last-child:before {
      height: 0.5lh;
    }

    &.selected > .wrapper .title {
      font-weight: bold;
    }

    &.unlocked > .wrapper .title,
    .remove {
      color: #333;
      cursor: pointer;
    }

    .title {
      display: block;
      margin-left: 0.5em;
    }

    .wrapper {
      display: flex;
      flex-direction: row;
    }
  }

  ul {
    list-style: none;
    margin: 0 0 0 1.5em;
    padding: 0;
  }
}

/* ------------------------------------------------------------------------------------------------------------------ */
/* Puzzle
/* ------------------------------------------------------------------------------------------------------------------ */

#puzzle {
  container-name: puzzle;
  container-type: inline-size;
  position: relative;
  visibility: hidden;
}

#puzzle canvas {
  cursor: pointer;
  left: 0;
  position: absolute;
  top: 0;
  touch-action: none;
  z-index: 0;
}

#puzzle-error {
  align-items: center;
  color: #666;
  cursor: default;
  display: none;
  height: 100%;
  font-size: 6em;
  justify-content: center;
  width: 100%;
}

#puzzle-footer,
#puzzle-header {
  box-sizing: border-box;
  min-width: fit-content;
  padding: 1em;
  /* Allow user to interact with underlying canvas. */
  pointer-events: none;
  position: absolute;
  /* Prevent Chrome from trying to open search on tap in mobile. */
  user-select: none;
  width: 100%;
  /* For iOS/Safari. */
  -webkit-user-select: none;
  z-index: 1;
}

#puzzle-footer {
  bottom: 0;
  flex-flow: column wrap;
}

#puzzle-footer-messages,
#puzzle-header-messages {
  align-items: center;
  display: flex;
  list-style: none;
  justify-content: center;
  justify-self: center;
  margin: 0 auto;
  padding: 0;
  pointer-events: all;
  width: fit-content;
}

#puzzle-footer-wrapper,
#puzzle-header-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#puzzle-header-wrapper .flex-left .menu li:last-child {
  border-right: 1px solid #ddd;
}

#puzzle-footer-wrapper .menu {
  display: flex;
  flex-wrap: wrap;
  margin: 0 0.5em;
  user-select: none;
  /* For iOS/Safari. */
  -webkit-user-select: none;
}

#puzzle-footer-wrapper .menu:empty {
  display: none;
}

#puzzle-header-action-menu li {
  border-left: 1px solid #ddd;
  border-right: none;
}

#select {
  appearance: none;
  border: none;
  cursor: pointer;
  display: block;
  font-size: 1em;
  font-weight: bold;
  padding: 1em 2em 1em 1em;
  text-overflow: ellipsis;
  width: 10em;
}

#select:hover {
  background-color: #eee;
}

#select:focus-visible {
  background-color: #333;
  color: white;
  fill: white;
  outline: none;
}

#select:focus-visible + svg {
  fill: white;
}

#selector {
  align-items: stretch;
  display: flex;
  position: relative;
  min-width: max-content;
}

#selector svg {
  pointer-events: none;
  position: absolute;
  right: 0.75rem;
  top: calc(50% - 5px);
}

#puzzle-requirements {
  align-items: center;
  cursor: default;
  line-height: 24px;
}

#puzzle-requirements i {
  margin-left: 0.5em;
}

#puzzle-title {
  align-items: center;
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
  display: none;
  line-height: 24px;
  padding: 0 1em;
  user-select: text;
}

#puzzle-wrapper {
  box-sizing: border-box;
  flex: auto;
  overflow: hidden;
}

/* ------------------------------------------------------------------------------------------------------------------ */
/* Settings
/* ------------------------------------------------------------------------------------------------------------------ */

#dialog-settings fieldset p {
  margin: 0 0 1em 0;
}

#settings-profile {
  border: 1px solid #aaa;
  border-radius: 0.25em;
  list-style: none;
  margin: 0 0 1em 0;
  overflow: clip;
  padding: 0;

  li {
    border-bottom: 1px solid #aaa;
    cursor: pointer;
    display: flex;
    line-height: 24px;
    padding: 0.5em;
    text-overflow: ellipsis;

    &:last-child {
      border-bottom: 0;
    }

    &.selected {
      background-color: #eee;
      cursor: default;
      font-weight: bold;
    }

    .remove {
      cursor: pointer;
    }
  }
}

#settings-profile-name {
  margin-right: 1em;
}

#settings-window {
  display: none;
}

.electron #settings-window {
  display: block;
}

.settings {
  display: grid;
  grid-template-columns: max-content max-content;
  grid-gap: 1em;
}

/* ------------------------------------------------------------------------------------------------------------------ */
/* Classes
/* ------------------------------------------------------------------------------------------------------------------ */

.button {
  background-color: #eee;
  border: 1px solid #ccc;
  color: #333;
  font-family: inherit;
  font-size: inherit;
  margin: 0;
  padding: 0.5em 1em;
  text-decoration: none;
}

.button:hover {
  background-color: #ddd;
  border-color: #aaa;

  &:not(:disabled,.disabled) {
    cursor: pointer;
  }
}

.buttons {
  grid-gap: 1em;
  margin: 1em 0;
}

.color {
  color: white;
  display: inline-block;
  height: 24px;
  vertical-align: middle;
  width: 24px;
}

.color::selection {
  color: white;
  background-color: black;
}

.colors {
  align-items: center;
  color: #666;
  display: flex;
}

:disabled + label {
  color: #999;
}

.edit #editor-new,
.edit #editor-wrapper,
.edit #gutter,
.edit #puzzle-title {
  display: flex;
}

.edit #puzzle {
  visibility: visible;
}

.electron {
  #settings-window,
  #title-quit {
    display: block;
  }
}

.flex-center,
.flex-left,
.flex-right {
  align-items: stretch;
  display: flex;
  flex: 1;
}

.flex-center {
  justify-content: center;
}

.flex-left {
  justify-content: flex-start;
}

.flex-right {
  justify-content: flex-end;
}

.flex-two-column {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1em;

  > * {
    flex: 1;

    &.full-width {
      flex-basis: 100%;
    }
  }
}

.grab #puzzle canvas {
  cursor: grabbing;
}

.group {
  background-color: white;
  border: 1px solid #999;
  border-radius: 0.5rem;
  display: flex;
  filter: drop-shadow(0 0.25em 0.25rem #ccc);
  overflow: clip;
  pointer-events: all;

  &:empty,
  &:has(> :empty) {
    display: none;
  }
}

.hide {
  display: none !important;
}

.menu {
  align-items: stretch;
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.menu li {
  align-items: center;
  border-right: 1px solid #ddd;
  cursor: pointer;
  display: flex;
  padding: 1em;
}

.menu.non-interactive li,
.menu li.non-interactive {
  cursor: default;
}

.menu li:last-child {
  border: none;
}

.menu:not(.non-interactive) li:not(.disabled,.non-interactive,.selected):hover {
  background-color: #eee;
}

.menu li.disabled {
  color: #ccc;
  cursor: default;
}

.menu li.selected {
  background-color: #333;
  box-sizing: border-box;
  color: white;
}

.menu li a {
  color: black;
  display: flex;
  text-decoration: none;
}

.message {
  align-items: center;
  background-color: #eee;
  border: 1px solid #999;
  border-radius: 0.5em;
  display: flex;
  filter: drop-shadow(0 0.25em 0.25rem #ccc);
  flex-flow: column;
  justify-content: center;
  justify-self: center;
  line-height: 24px;
  margin: 1em 0.5em;
  min-height: 24px;
  padding: 1em;
  width: fit-content;
}

.message:empty {
  display: none;
}

.message p {
  margin: 0;

  &.solved {
    margin-bottom: 0.5em;
    padding-bottom: 0.25em;
    border-bottom: 1px solid #ccc;
  }
}

.number {
  width: 4em;
}

.pane {
  box-sizing: border-box;
  display: flex;
  flex: 1;
  flex-direction: column;
  overflow: hidden;
  pointer-events: all;
}

.play #puzzle {
  display: flex;
  visibility: visible;
}

.puzzle-error:not(.puzzle-loaded) #puzzle canvas,
.puzzle-error #modifiers {
  display: none;
}

.puzzle-error:not(.puzzle-loaded) #puzzle-error {
  display: flex;
}

.puzzle-solved #puzzle canvas {
  cursor: default;
}

.puzzle-solved #puzzle-footer {
  display: none;
}

.see-through {
  opacity: 0;
}

.text {
  padding: 0 0.25em;
}

.text:last-child {
  padding-right: 0;
}

.wrapper details {
  padding: 0 1em 1em 1em;
}

.wrapper details:last-of-type {
  padding-bottom: 0;
}

/* ------------------------------------------------------------------------------------------------------------------ */
/* Animations
/* ------------------------------------------------------------------------------------------------------------------ */

.fade-in {
  animation-duration: 0.25s;
  animation-name: fade-in;
}

.fade-out {
  animation-duration: 0.25s;
  animation-name: fade-out;
}

.slide-down-in {
  animation-duration: 0.5s;
  animation-name: slide-down-in;
}

.slide-down-out {
  animation-duration: 0.5s;
  animation-name: slide-down-out;
}

.slide-left-in {
  animation-duration: 0.5s;
  animation-name: slide-left-in;
}

.slide-left-out {
  animation-duration: 0.5s;
  animation-name: slide-left-out;
}

.slide-right-in {
  animation-duration: 0.5s;
  animation-name: slide-right-in;
}

.slide-right-out {
  animation-duration: 0.5s;
  animation-name: slide-right-out;
}

.slide-up-in {
  animation-duration: 0.5s;
  animation-name: slide-up-in;
}

.slide-up-out {
  animation-duration: 0.5s;
  animation-name: slide-up-out;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fade-out {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

@keyframes slide-down-in {
  from {
    translate: 0 -100vh;
  }

  to {
    translate: 0 0;
  }
}

@keyframes slide-down-out {
  from {
    translate: 0 0;
  }

  to {
    translate: 0 100vh;
  }
}

@keyframes slide-left-in {
  from {
    translate: 100vw 0;
  }

  to {
    translate: 0 0;
  }
}

@keyframes slide-left-out {
  from {
    translate: 0 0;
  }

  to {
    translate: -100vw 0;
  }
}

@keyframes slide-right-in {
  from {
    translate: -100vw 0;
  }

  to {
    translate: 0 0;
  }
}

@keyframes slide-right-out {
  from {
    translate: 0 0;
  }

  to {
    translate: 100vw 0;
  }
}

@keyframes slide-up-in {
  from {
    translate: 0 100vh;
  }

  to {
    translate: 0 0;
  }
}

@keyframes slide-up-out {
  from {
    translate: 0 0;
  }

  to {
    translate: 0 -100vh;
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(359deg);
  }
}

/* ------------------------------------------------------------------------------------------------------------------ */
/* Media Queries
/* ------------------------------------------------------------------------------------------------------------------ */

/* These styles will also be applied to the puzzle container in editor mode (e.g. when it is docked vertically). */
@container puzzle (max-width: 768px) {
  #puzzle-header {
    padding: 0;
    pointer-events: all;

    .flex-center {
      border-top: 1px solid #ddd;
      flex: 100%;
      order: 1;
    }

    .group {
      border: none;
      border-radius: 0;
      filter: none;
    }
  }

  #puzzle-header-wrapper {
    background-color: white;
    border-bottom: 1px solid #999;
    filter: drop-shadow(0 0.25em 0.25rem #ccc);
  }
}

@media (max-width: 768px) {
  #screen {
    flex-direction: column;
  }

  #editor-menu {
    justify-content: center;
  }

  #editor-dock {
    display: none;
  }

  #editor-wrapper {
    border: 0;
  }

  #editor-wrapper header {
    border-top: 1px solid #666;
  }

  #gutter {
    height: 1px;
    pointer-events: all;
    width: 100%;
  }

  #gutter:after {
    cursor: ns-resize;
    height: 8px;
    left: 0;
    top: -3px;
    width: 100%;
  }
}
