name: Deploy
on:
  workflow_dispatch:
jobs:
  steam:
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          # Shouldn't need fetch-depth: 0, but see:
          # https://github.com/actions/checkout/issues/2199
          fetch-depth: 0
          fetch-tags: true
      - run: |
          TAG=$(git describe --tags --abbrev=0)
          echo "Deploying from tag: $TAG"
          echo "TAG=$TAG" >> $GITHUB_ENV
      - name: Download release artifacts
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          gh release download "$TAG" --dir artifacts
          tree artifacts
          shopt -s globstar
          mkdir -p deploy/windows-ia32
          mv release/*-win32-ia32-*.exe deploy/windows-ia32/beaming.exe
          mkdir -p deploy/windows-x64
          mv release/*-win32-x64-*.exe deploy/windows-x64/beaming.exe
          mkdir -p deploy/macos-arm64
          unzip release/*-darwin-arm64-*.zip deploy/macos-arm64
          mkdir -p deploy/macos-x64
          unzip release/*-darwin-x64-*.zip deploy/macos-x64
          tree deploy
      - name: Setup steamcmd
        uses: CyberAndrii/setup-steamcmd@v1
      - name: Generate auth code
        id: auth
        uses: CyberAndrii/steam-totp@v1
        with:
          shared_secret: ${{ secrets.STEAM_SHARED_SECRET }}
      - uses: game-ci/steam-deploy@v3
        with:
          username: ${{ secrets.STEAM_USERNAME }}
          totp: ${{ steps.steam-totp.outputs.code }}
          appId: 4172230
          buildDescription: ${{ env.TAG }}
          rootPath: deploy
          depot1Path: windows-ia32
          depot2Path: windows-x64
          depot3Path: darwin-x64
          depot4Path: darwin-arm64
          releaseBranch: prerelease
