name: Verify
on:
  pull_request:
    branches:
      - main
jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version-file: '.nvmrc'
      - name: Install dependencies
        run: npm install
      - name: Run server
        run: npm start &
      - name: Wait
        run: npx wait-on --timeout 5000 http://localhost:1234
      - name: Run tests
        run: npm test
      - name: Verify project version
        run: |
          VERSION=$(jq -r '.version' package.json)
          echo "Found version: $VERSION"
          TAG="v${VERSION}"
          if git tag -l "$TAG" | grep -q "$TAG"; then
            echo "Error: Tag $TAG already exists."
            exit 1
          fi
          echo "TAG=$TAG" >> $GITHUB_ENV
      # TODO: include tag in build (e.g. to display to user)
      - name: Generate build
        run: npm run build
      - name: Upload build archive
        uses: actions/upload-artifact@v4
        with:
          name: beaming-web
          path: dist
          compression-level: '9'
  build:
    strategy:
      matrix:
        os: [macos-latest, ubuntu-latest, windows-latest]
    runs-on: ${{ matrix.os }}
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version-file: '.nvmrc'
      - name: Install dependencies
        run: npm install
      - name: "Make: ${{ matrix.os }}"
        run: npm run make
      - name: Upload build artifacts
        uses: actions/upload-artifact@v4
        with:
          name: beaming-${{ matrix.os }}
          path: out/make/**/*
          compression-level: '0'
  temp:
    steps:
      - name: Download artifacts
        uses: actions/download-artifact@v5
        with:
          path: artifacts
        run: ls -R
      - env:
          TAG: ${{ needs.build-web.outputs.tag }}
      - run: gh release create "${{ env.TAG }}" ./artifacts --draft --generate-notes --title "${{ env.TAG }}"
