name: Pull Request
env:
  NODE_ENV: 'production'
on:
  pull_request:
    branches:
      - main
jobs:
  first:
    runs-on: ubuntu-latest
    steps:
      - run: echo NODE_ENV = $NODE_ENV
#  test:
#    uses: './.github/workflows/test.yml'
#  make:
#    uses: './.github/workflows/make.yml'
