name: Pull Request
env:
  NODE_ENV: 'production'
on:
  pull_request:
    branches:
      - main
jobs:
  test:
    uses: './.github/workflows/test.yml'
#  make:
#    uses: './.github/workflows/make.yml'
