name: Release
on:
  push:
    branches:
      - main
jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version-file: '.nvmrc'
      - name: Install dependencies
        run: npm install
      - name: Run server
        run: npm start &
        env:
          NODE_ENV: ci
      - name: Wait
        run: npx wait-on --timeout 5000 http://localhost:1234
      - name: Run tests
        run: npm test
      - name: Build NPM package
        run: npm run build -- --public-url https://kflorence.github.io/beaming
      - name: Publish to Github pages
        run: |
          git remote set-url origin https://git:${GITHUB_TOKEN}@github.com/${GITHUB_REPOSITORY}.git
          npx gh-pages -d dist -u "github-actions-bot <support+actions@github.com>" --nojekyll
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
