name: Test
on:
  workflow_call:
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version-file: '.nvmrc'
      - name: Install dependencies
        run: npm install
      - name: Run server
        run: npm start &
      - name: Wait
        run: npx wait-on --timeout 5000 http://localhost:1234
      - name: Run tests
        run: npm test
      - name: Generate build
        env:
          NODE_ENV: ${{ vars.NODE_ENV }}
        run: npm run build
      - name: Upload build archive
        uses: actions/upload-artifact@v4
        with:
          name: web
          path: dist/web
          compression-level: '9'
